<div class="container">
  <div class="mb-5">
    <div class="mt-4 mb-5">
      <app-taxpayer-info [taxpayerInfo]="taxpayerInfo"></app-taxpayer-info>
      <br>
      <app-taxpayer-address [taxpayerAddress]="taxpayerAddress"></app-taxpayer-address>
      <br>
      <div class="box-content">
        <div class="topic line-b mb-4">
          <h4 class="navy">ข้อมูลการโอน</h4>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-3">
            <label>หนังสือเลขที่</label>
            <p>12345</p>
          </div>

          <div class="col-3">
            <label>ลงวันที่</label>
            <p>13/12/2564</p>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-3">
            <label>สท. เดิมที่รับผิดชอบ</label>
            <p>สำนักงานสรรพากรพื้นที่กรุงเทพมหานคร 1</p>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-3">
            <label>สท. ใหม่ที่รับผิดชอบ</label>
            <p>สำนักงานสรรพากรพื้นที่กรุงเทพมหานคร 2</p>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-3">
            <label>สาเหตุการโอน</label>
            <p>ย้ายสถานประกอบการ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid p-3 line-t">
  <div class="container btn-footer">
    <button type="button" class="btn btn-light mr-auto" style="min-width: 100px;" (click)="goBack()">ย้อนกลับ</button>
    <button type="button" class="btn btn-primary" style="min-width: 100px;">ยืนยันการโอน</button>
  </div>
</div>