<div class="container">
  <div class="mb-5">
    <div class="mt-4 mb-5">
      <app-taxpayer-info [taxpayerInfo]="taxpayerInfo"></app-taxpayer-info>
      <br>
      <app-taxpayer-address [taxpayerAddress]="taxpayerAddress"></app-taxpayer-address>
      <br>
      <app-taxpayer-property [taxpayerProperty]="taxpayerProperty"></app-taxpayer-property>
      <br>
      <div class="box-content">
        <div class="topic line-b mb-4">
          <h4 class="navy">ความเห็นเจ้าหน้าที่พิจารณา</h4>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-3">
            <div class="form-check mb-3">
              <input id="radio-5" class="checkbox-custom" name="radio" type="radio" checked="">
              <label for="radio-5" class="radio-label">เห็นควรอนุมัติ</label>
            </div>
            <div class="form-check">
              <input id="radio-6" name="radio" type="radio" class="checkbox-custom">
              <label for="radio-6" class="radio-label">ไม่เห็นควรอนุมัติ</label>
            </div>
          </div>
          <div class="col-3">
            <label>วันที่ลงความเห็น<span class="red">*</span></label>
            <div class="form-icon">
              <i class="material-icons-outlined right">calendar_today</i>
              <input class="form-control" type="text" placeholder="วัน/เดือน/ปี">
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-6 offset-3">
            <label>เหตุผลเจ้าหน้าที่พิจารณา<span class="red">*</span></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid p-3 line-t">
  <div class="container btn-footer">
    <button type="button" class="btn btn-light mr-auto" style="min-width: 100px;" (click)="goBack()">ย้อนกลับ</button>
    <button type="button" class="btn btn-primary" style="min-width: 100px;"> บันทึก</button>
  </div>
</div>