<div class="topic navy mt-2 mb-3">
  <h3 class="mb-3">Team Dashboard</h3>
  <div class="dashboard-tab">
    <!-- nav-tabs -->
    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link border-left-1 card-body active" id="home-tab" data-toggle="tab" href="#Tab1"
          role="tab" aria-controls="home" aria-selected="true">
          <div class="row no-gutters align-items-center">
            <div class="col-9 text-left">
              <p class="mb-1 body2">งานที่เข้ามาใหม่</p>
              <i class="fas fa-folder-open green lead"></i>
            </div>
            <div class="col-3">
              <div class="lead">30</div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item mr-5 ml-5" role="presentation">
        <a class="nav-link border-left-2 card-body" id="profile-tab" data-toggle="tab" href="#Tab2" role="tab"
          aria-controls="profile" aria-selected="false">
          <div class="row no-gutters align-items-center">
            <div class="col-9 text-left">
              <p class="mb-1 body2">งานที่ใกล้ถึงกำหนดส่ง</p>
              <i class="fas fa-folder-open yellow lead"></i>
            </div>
            <div class="col-3">
              <div class="lead">30</div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item mr-auto" role="presentation">
        <a class="nav-link border-left-3 card-body" id="contact-tab" data-toggle="tab" href="#Tab3" role="tab"
          aria-controls="contact" aria-selected="false">
          <div class="row no-gutters align-items-center">
            <div class="col-9 text-left">
              <p class="mb-1 body2">งานที่ใกล้ถึงกำหนดส่ง</p>
              <i class="fas fa-folder-open orange lead"></i>
            </div>
            <div class="col-3">
              <div class="lead">30</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="card p-4 mt-4 mb-5">
    <!-- Content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Tab1" role="tabpanel" aria-labelledby="home-tab">
        <div class="mb-3">
          <div class="row mb-3">
            <div class="col-9">
              <span class="h4">งานที่เข้ามาใหม่</span>
              <span class="gray">(งานที่เพิ่มเข้ามาใหม่โดยยังไม่มีเจ้าหน้าที่รับผิดชอบ)</span>
            </div>
            <div class="col-3">
              <select class="custom-select mr-3" style="top: -8px">
                <option selected="">แสดงทุกอําเภอ</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>
                  ชื่อแบบ
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
                <th>
                  ชื่อบริษัท
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
                <th>
                  ที่ตั้ง
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
                <th>
                  วันที่รับแบบ
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
                <th>
                  วันที่ถึงกำหนดส่ง
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
                <th>
                  เวลาที่เหลือ
                  <span class="material-icons-outlined">arrow_drop_down</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">ภ.พ. 01</th>
                <td>
                  <p>Jay Appleseed Company</p>
                  <p>1234556678958</p>
                </td>
                <td>อำเภอ A</td>
                <td>10/04/2022</td>
                <td>25/04/2022</td>
                <td>15 วัน</td>
              </tr>
              <tr>
                <th scope="row">ภ.พ. 01</th>
                <td>
                  <p>Jay Appleseed Company</p>
                  <p>1234556678958</p>
                </td>
                <td>อำเภอ A</td>
                <td>10/04/2022</td>
                <td>25/04/2022</td>
                <td>15 วัน</td>
              </tr>
              <tr>
                <th scope="row">ภ.พ. 01</th>
                <td>
                  <p>Jay Appleseed Company</p>
                  <p>1234556678958</p>
                </td>
                <td>อำเภอ A</td>
                <td>10/04/2022</td>
                <td>25/04/2022</td>
                <td>15 วัน</td>
              </tr>
              <tr>
                <th scope="row">ภ.พ. 01</th>
                <td>
                  <p>Jay Appleseed Company</p>
                  <p>1234556678958</p>
                </td>
                <td>อำเภอ A</td>
                <td>10/04/2022</td>
                <td>25/04/2022</td>
                <td>15 วัน</td>
              </tr>
              <tr class="bg-white">
                <th colspan="4" rowspan="1" scope="row" style="text-align: left">
                  จำนวนแบบทั้งหมด <span class="bodybold">4</span> แบบ
                </th>
                <td colspan="2" style="text-align: right">
                  <ul class="pagination pagination-sm pagination-table">
                    <li class="page-item">
                      <a class="page-link">
                        <i class="icon-previous1"></i>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link"> 1 </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link"> 2 </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link"> 3 </a>
                    </li>
                    <div class="point">...</div>
                    <li class="page-item">
                      <a class="page-link"> 5 </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">
                        <i class="icon-next1"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="Tab2" role="tabpanel" aria-labelledby="profile-tab">
        .....
      </div>
      <div class="tab-pane fade" id="Tab3" role="tabpanel" aria-labelledby="contact-tab">
        .....
      </div>
    </div>
  </div>
</div>