<div class="tab-pane fade active show" id="#" role="tabpanel" aria-labelledby="#">
    <h3 class="mb-2 navy">พิจารณาแบบคำขอภาษีธุรกิจเฉพาะ</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">พิจารณาแบบคำขอภาษีมูลค่าเพิ่ม</li>
        </ol>
    </nav>
    <div class="card p-4 mt-4 mb-5">
        <!-- Content -->
        <div class="tab-content mb-3" id="myTabContent">
            <div class="list-group rounded-0">
                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอจดทะเบียนภาษีมูลค่าเพิ่ม</div>
                        <div class="col-3">ภ.พ.01, 01.1</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอจดทะเบียนภาษีมูลค่าเพิ่มเป็นการชั่วคราว</div>
                        <div class="col-3">ภ.พ.01.2</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอแสดงรายการภาษีมูลค่าเพิ่มรวมกัน</div>
                        <div class="col-3">ภ.พ.02</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอเปลี่ยนกแปลงการแสดงรายการภาษีมูลค่าเพิ่มรวมกัน</div>
                        <div class="col-3">ภ.พ.02.1</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอแจ้งเปลี่ยนแปลงทะเบียนภาษีมูลค่าเพิ่ม</div>
                        <div class="col-3">ภ.พ.09</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอแจ้งการเปลี่ยนแปลงทะเบียนภาษีมูลค่าเพิ่มชั่วคราว</div>
                        <div class="col-3">ภ.พ.09.1</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอรับใบแทนทะเบียนภาษีมูลค่าเพิ่ม</div>
                        <div class="col-3">ภ.พ.04</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>

                <a href="intra-vatrequest2.html" class="list-group-item list-group-item-action">
                    <div class="row form-row">
                        <div class="col-6">แบบคำขอถอนทะเบียนภาษีมูลค่าเพิ่ม</div>
                        <div class="col-3">ภ.พ.08</div>
                        <div class="col-2"><span class="notification-number">5</span></div>
                        <div class="col-1"><span class="material-icons-outlined float-right">chevron_right</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>