.h01 {
    /* บันทึกแบบคำขอแก้ไขข้อมูลพื้นฐานของผู้เสียภาษีอากร */

    position: absolute;
    width: 443px;
    height: 20px;
    left: 39px;
    top: 103px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    border: 1px solid #EFEDED;

}
