<br><br><br><br><br><br>
<div class="text-center mt-3">
    <button type="button" class="btn btn-primary mr-3" (click)="getScreen('rp01')" style="width:7%">
        ป.ผ.02
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="getScreen('cd01')" style="width:7%">
        ป.ผ.03
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="getScreen('ch01')" style="width:7%">
        ป.ผ.04
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="getScreen('dt01')" style="width:7%">
        ป.ผ.05
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="appr('n')" style="width:7%">
        Appr (n)
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="appr('y')" style="width:7%">
        Appr (y)
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="token()" style="width:7%">
        Token
    </button>
</div>