<div class="box-content">
  <div class="topic line-b mb-4">
    <h4 class="navy">สถานประกอบการที่จดแจ้งการประกอบกิจการค้าทองคำ</h4>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">สำนักงานที่ยื่นคำขอ</label>
    </div>
    <div class="col-9">
      <div class="form-check d-inline-flex">
        <input id="radio-1" class="checkbox-custom" name="radio1" type="radio" checked="">
        <label for="radio-1" class="radio-label ml-0">สำนักงานใหญ่</label>
        <input id="radio-2" name="radio1" type="radio" class="checkbox-custom">
        <label for="radio-2" class="radio-label">สาขาที่</label>
      </div>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">สถานประกอบการที่ตั้งอยู่</label>
    </div>
    <div class="col-9">
      <p>{{ taxpayerAddress?.branchAddressB }}</p>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">โทรศัพท์</label>
    </div>
    <div class="col-9">
      <p>{{ taxpayerAddress?.telNoB }}</p>
    </div>
  </div>
</div>