<div class="box-content">
  <div class="topic line-b mb-4">
    <h4 class="navy">คุณสมบัติผู้ประกอบการ</h4>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">เป็นสมาชิกสมาคม</label>
    </div>
    <div class="col-9">
      <p>{{ taxpayerProperty?.member }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">วันที่เริ่มต้นเป็นสมาชิก</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberDate }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">วันที่หมดอายุการเป็นสมาชิก</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberExpDate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">ใบอนุญาตค้าของเก่าฉบับที่</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberRefNo }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">เลขที่ใบอนุญาตค้าของเก่า</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberRef }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">วันที่อนุญาต</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberRefDate }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">วันที่หมดอายุ</label>
        <div class="col-6">
          <p>{{ taxpayerProperty?.memberRefExpDate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">การยื่นแบบแสดงรายการภาษีมูลค่าเพิ่ม</label>
    </div>
    <div class="col-9">
      <div class="form-check d-inline-flex">
        <input id="radio-3" class="checkbox-custom" name="radio2" type="radio" checked="">
        <label for="radio-3" class="radio-label ml-0">ยื่นแบบ ภ.พ.30 เป็นรายสถานประกอบการ</label>
        <input id="radio-4" name="radio2" type="radio" class="checkbox-custom">
        <label for="radio-4" class="radio-label">ยื่นแบบ ภ.พ.30 รวมกัน ณ สาขา 3</label>
      </div>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <label class="col-form-label">วัน/เดือน/ปี ภาษีที่เริ่ม</label>
    </div>
    <div class="col-9">
      <p>{{ taxpayerProperty?.filDate }}</p>
    </div>
  </div>
</div>