<div class="form-report">
  <div class="container">
    <div class="modal-dialog modal-lg card p-4 mt-4 border">
      <div class="modal-content border-none m-auto">
        <div class="modal-body py-0">
          <form>
            <div class="row">
              <label class="col-4 col-form-label">ชื่อบริษัท:</label>
              <div class="col-6">
                <p class="form-control-plaintext">บริษัท อินทราเซรามิคจำกัด</p>
              </div>
            </div>
            <div class="row">
              <label class="col-4 col-form-label">เลขประจำตัวผู้เสียภาษี:</label>
              <div class="col-6">
                <p class="form-control-plaintext bodybold">0-9932-83891-72-0</p>
              </div>
            </div>
            <div class="row">
              <label class="col-4 col-form-label">อีเมลที่ใช้ติดต่อ:</label>
              <div class="col-6">
                <p class="form-control-plaintext">sommai@veecorp.com</p>
              </div>
            </div>
            <div class="row">
              <label class="col-4 col-form-label">วันที่สมัคร:</label>
              <div class="col-6">
                <p class="form-control-plaintext">3 มีนาคม 2565</p>
              </div>
            </div>
            <div class="row">
              <label class="col-4 col-form-label">สถานะ:</label>
              <div class="col-6">
                <p class="form-control-plaintext">รอเจ้าหน้าที่พิจารณา</p>
              </div>
            </div>
          </form>

          <div class="btn-footer mt-4 mb-2">
            <button type="button" class="btn btn-primary mr-3"><span
                class="material-icons-outlined btn-icon">file_download</span> ดาวน์โหลด/พิมพ์แบบ</button>
            <button type="button" class="btn btn-primary mr-auto" (click)="goNext()">ส่งคำขอ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-3 line-t mt-5">
  <div class="container btn-footer justify-content-center">
    <button type="button" class="btn btn-light" style="min-width: 100px;" (click)="goBack()">ย้อนกลับ</button>
  </div>
</div>