<div class="container d-flex flex-column justify-content-between h-75 mt-2" style="width: 50%;">
   
   <!--
    <button type="button" class="btn btn-primary" (click)="getScreen('create-form')">
        แบบคำขอการประกอบกิจการค้าทองคำ (ภ.พ.01.3)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('consider')">
        พิจารณาแบบคำขอการประกอบกิจการค้าทองคำ (ภ.พ.01.3)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('renew')">
        แจ้งต่อสิทธิสมาชิกสมาคม
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('transfer')">
        โอนสถานประกอบการ
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('accept-transfer')">
        รับโอนสถานประกอบการ
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('approve')">
        การอนุมัติแบบ ภ.พ.01.3
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreen('reject')">
        ลบรายผู้ประกอบการ
    </button>
    -->
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-business-gold-receive/page-one')">
        รายงานทะเบียนรับแบบแจ้งการประกอบค้าทองคำ (1)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-business-gold-area/page-one')">
        รายงานทะเบียนผู้ประกอบการค้าทองคำในพื้นที่ (2) - ตัวอย่าง
    </button>
    <button type="button" class="btn btn-primary"
        (click)="getScreenReport('report-business-notification-area/page-one')">
        รายงานแจ้งเตือนผู้ประกอบการที่ต้องมาต่อสิทธิในท้องที่ (3)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-business-user-remove/page-one')">
        รายงานผู้ประกอบการที่ถูกลบออกจากระบบ (4)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-business-not-transfer/search')">
        รายงานสถานประกอบการที่ยังไม่ถูกรับโอน (5)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-business-not-approve/search')">
        รายงานสถานประกอบการที่ยังไม่ได้รับอนุมัติ (6)
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenReport('report-gold-vat-approve/search')">
        รายชื่อผู้ประกอบกิจการค้าทองคำที่ได้รับอนุมัติยกเว้นภาษีมูลค่าเพิ่ม VAT (7)
    </button>
    <!--
    <button type="button" class="btn btn-primary" (click)="getScreenEntry('user/search')">
        ผู้ใช้งาน ภ.พ.01.3
    </button>
    <button type="button" class="btn btn-primary" (click)="getScreenEntry('user-group/pp013-entry-program')">
        กลุ่มผู้ใช้งาน
    </button>
    -->
</div>